* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #1a1e25;
    color1:     #A99778;
    color2:     #D08870;
    color3:     #5A7598;
    color4:     #90768E;
    color5:     #6486AD;
    color6:     #7DA2C2;
    color7:     #ecdcbd;
    color8:     #a59a84;
    color9:     #A99778;
    color10:    #D08870;
    color11:    #5A7598;
    color12:    #90768E;
    color13:    #6486AD;
    color14:    #7DA2C2;
    color15:    #ecdcbd;
}
